@media only screen and (min-width: 300px) and (max-width:590px)
{
     *
    {
      padding: 0;
      margin: 0;
    }    
    .main-header
    {
        padding: 0;
        width: 100%;
    }    
    .nav
    {
        width: 100%;
    }
    .nav .container
    {
        font-size: 1rem;
    }
    .hero
    {
        padding: 0;
    }
    .hero .container
    {
        padding: 0 10px;
        margin: 0 75.6px;
    }
    .pos 
    {
        visibility: hidden;
    }
    .nav-list
    {
        visibility: hidden;
    }
    .hero
    {
        padding: 0;
    }
    .hero .container
    {
        padding: 0 10px;
        margin: 0 10px;
    }    
    /* 
QUOTE - SECTION  */
.quote-container .quote-style
{
    font-size: 25px;
}
/* ABOUT-ME - CONTAINER */
.aboutme-container
{
    margin: 0 10px;
    padding: 2cm 0cm;
    display: block;
    text-align: center;
}
.aboutme-title
{
    font-size: 25px;
}
.aboutme-about p
{
    font-size: 12px;
    margin: 10px 0;
}
/* SKILL-CONTAINER */
.skill-container
{
    padding: 0 20px;
    height: auto;
}
.skill-section
{
    height: auto;
}
.skill-title{
    font-size: 20px;
}
.skill-subtitle{
    padding-top: 30px;
}
.tech-name
{
    font-size: 20px;
}
.Front-End-Tools
{
    display: inline;
}
/* achievement quote */
.winner
{
    font-size: 25px;
}
.winner-sub
{
    font-size: 15px;
}

/* project */
.projects-container
{
    padding: 0cm 0.5cm;
}
.img-content
{
    display: block;
    text-align: center;
}
.project-image
{
    width: 360px;
    margin-left: 20px;
}
.proj-img
{
    width: 100%;
}

.project-template
{
    height: auto;
}
.tech-stack
{
    margin-top: 70px;
}

/* footer */
.footer-container
{
    padding-left: 0px;
    padding-top: 0px;
    margin: 0;
}

}

