@media only screen and (min-width: 600px) and (max-width:1024px){
*
{
  padding: 0;
  margin: 0;
}
.main-header
{
    padding: 0;
    width: 100%;
}
.nav
{
    width: 100%;
}
.nav .container
{
    font-size: 1rem;
}
.hero
{
    padding: 0;
}
.hero .container
{
    padding: 0 10px;
    margin: 0 75.6px;
}
.pos
{
    visibility: hidden;
}
/* 
QUOTE - SECTION  */
.quote-container .quote-style
{
    font-size: 50px;
}

/* ABOUT-ME - CONTAINER */
.aboutme-container
{
    margin: 0 75.6px;
    padding: 2cm 0cm;
}
.aboutme-about p
{
    font-size: 12px;
    margin: 10px 0;
}
/* SKILL-CONTAINER */
.skill-container
{
    padding: 0 20px;
    height: auto;
}
.skill-subtitle{
    padding-top: 30px;
}

.Front-End-Tools
{
  padding: 20px 0;
  width: 600px;
}
.box
{
    width: 140px;
    height: 90px;
    display: block;
    align-items: center;
}
/* achievement quote */
.winner
{
    font-size: 50px;
}
/* project */
.projects-container
{
    padding: 0cm 0.5cm;
}
.img-content
{
    display: block;
    text-align: center;
}
.project-template
{
    height: auto;
}
.tech-stack
{
    margin-top: 10px;
}
/* footer */
.footer-section.footer-container
{
    padding-left: 0px;
    margin-left: 0;
}

}